<%- include('partials/header.ejs') %>

    <%- include('partials/navbar.ejs') %>

        <h1>Random Number: <%= num %>
        </h1>

        <p>That Number is : <%= num%2===0 ? 'even' : 'odd' %>
        </p>

        <%- include('partials/footer.ejs') %>